:root {
  --highlight: rgb(119, 220, 248);
  --primary-color: #ffffff;
  --primary-transparent: #ffffff00;
  --secondary-color: #F5F5F7;
  --secondary-transparent: #F5F5F700;
  --font-primary: #000;
}

* {
    color: var(--font-primary);
    font-family: "Lato", Helvetica;
    font-size: 16px;  
}
  

.section-title h1,
.section-title h1 .unbold  {
  font-family: "Oswald";
  font-size: 120px;
  letter-spacing: -0.5rem;
  color: var(--font-primary);
}

.section-title h1 .unbold {
  font-weight: 200;
} 
  
.writing-section-title h1{
    margin: 0;
    padding: 0;
}
  
h5 {
    cursor: default;
}
  
p {
    cursor: default;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}


#blogs {
    background-color: var(--primary-color);
    padding: 2rem 5rem;
    width: 100%;
  }
  
  #blogs .section-title {
    text-align: start;
  }
  
  #blogs .section-title .h1-manipulated {
    margin-top: -120px;
  }
  
  #blogs .blog-card {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
  }
  
  #blogs .blog-content {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
  }
  
  #blogs .blog-image {
    height: 340px;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
    filter: none;
    box-shadow: none;
    border: none;
    border: #acabab 2px solid;
  }

  #blogs .blog-card .work-image-one-r {
    background-color: #fff;
  }
  
  #blogs .other-blog {
    margin: 0 1rem;
  }
  
  #blogs .other-blog a {
    text-decoration: none;
  }
  
  #blogs .other-blog h5 {
    /* background: linear-gradient(to bottom, #f4aae0, #1a93b8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: #f4aae0; 
    width: fit-content;
    stroke-width: 0.4rem; 
    padding-bottom: 1rem; */
    color: var(--font-primary);
  }
  
  #blogs .other-blog-content{
    padding: 1.5rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-align: start;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
    transition: ease-in 0.2s;
  }
  
  #blogs .other-blog-content:hover {
    border: #ffffff65 1px solid;
    box-shadow: 0px 0px 7px rgba(212, 131, 218, 0.518);
    background: linear-gradient(to right, #f4aae0,#e4e4e4, #499db6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: #f4aae0; 
    stroke-width: 0.4rem; 
    filter: drop-shadow(2px 2px 4px rgba(212, 131, 218, 0.718));
  }
  
  #blogs .other-blog .blog-title,
  #blogs .other-blog .blog-details {
    cursor: pointer;
  }
  
  #blogs .blog-title{
    font-size: 16px;
    font-weight: bold;
    color: var(--font-primary);
    text-decoration: none;
  }
  
  #blogs .blog-details {
    font-size: 14px;
    color: var(--font-primary);
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  
  #blogs .btn {
    width:7rem;
    color: var(--font-primary);
    border: var(--font-primary) 2px solid;
  }
  
  #blogs .btn:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.515);
    background: linear-gradient(to right, #f4aae0,#e4e4e4, #499db6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: #f4aae0; 
    stroke-width: 0.4rem; 
    filter: drop-shadow(2px 2px 4px rgba(212, 131, 218, 0.718));
  }
  
  #blogs .blog-content {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
  }

.blog-image-one { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-image-one {
    background-image: url(/assets/imgBlog1.png);
}

.work-image-one-r,
.work-image-one,
.work-image-two,
.work-image-three,
.work-image-four   {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

.work-image-one-r {
  background-image: url(/assets/convolutional\ layers.png);
}

.work-image-one {
    background-image: url(/assets/work-modifedvgg.png);
}

.work-image-two {
    background-image: url(/assets/work-interns.png);
}

.work-image-three {
    background-image: url(/assets/work-pos.png);
}

.work-image-four {
    background-image: url(/assets/work-racer.png);
}
h5 {
    padding-top: 1rem;
    background: linear-gradient(to bottom, #f4aae0, #1a93b8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: #f4aae0; 
    width: fit-content;
    stroke-width: 0.4rem; 
    padding-bottom: 1rem;
}


@media (max-width:1100px) { /* big landscape tablets, laptops, and desktops */ 
  p {
    font-size: 14px;
  }

  .section-title h1 {
    font-size: 160px;
  }

}


@media (max-width:992px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  p {
    font-size: 14px;
  }

  .section-title h1 {
    font-size: 140px;
    padding: 0;
    margin: 0;
  }
  
  #blogs {
      padding: 2rem 0;
    }

  #blogs .section-title .h1-manipulated {
      margin-top: -57px;
      margin-bottom: 1rem;
  }

  #blogs .other-blog {
      padding: 0;
      margin: 0;
      margin-top: 2rem;
  }

}

@media (max-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

  p {
    font-size: 14px;
  }

  #blogs .section-title h1 {
    padding-bottom: 1rem;
}

}

@media (max-width:640px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

  p {
    font-size: 14px;
  }

  #blogs .section-title h1 {
    letter-spacing: -20px;
}

  #blogs .section-title .h1-manipulated {
      margin-top: -50px;
  }

  #blogs {
      padding: 2rem 1.5rem;
  }

}

@media (max-width:570px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

  p {
    font-size: 14px;
  }

  #blogs {
      padding: 1rem 1rem;
  }

  #blogs .section-title h1 {
      font-size: 70px;
      letter-spacing: -5px;
     
  }

  #blogs .section-title .h1-manipulated {
      margin-top: -30px;
  }

}

