html {
    scrollbar-width: thin;
    scrollbar-color: #908f8f #191528 ;
  }
  
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    margin: 1rem 0 2rem 1rem;
    color: #000;
    cursor: default;
  }

.header {
    background-color: #191528;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 15;
}
  
  .scrolled {
    background-color: transparent; /* Change the color here */
    backdrop-filter: blur(2px);
  }
  
  .scrolled .nav-link {
    color: #0a0a0a;
  }

  .scrolled  .dark .nav-link {
    color: var(--font-primary);
  }
  
  .nav-container {
    position: relative;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    display: flex;
    padding: 12px 0px 12px 0px;
    margin: 0;
  }

 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(108, 59, 111, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar button.navbar-toggler {
    border-color: rgb(86, 56, 93);
  }

  .navbar-nav {
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem 0;
  }
  
  .navbar-collapse {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
  
.nav-link {
    color: #fff;
  }


.nav-link:hover {
  background: linear-gradient(to top, #c5bd2d, #988206);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  stroke: #f4aae0; 
  stroke-width: 0.4rem; 
  filter: drop-shadow(2px 2px 4px rgba(212, 131, 218, 0.718));  
}

  footer {
    background-color: #000;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 5rem 0;
    border-top: 1px solid rgba(212, 131, 218, 0.518);
  }
  
  footer h1 {
    color: white;
    font-size: 43px;
    margin: 0.5rem;
  }
  
  footer p {
    color: #6f6f6f;
    margin-top: 1rem;
    font-size: 12px;
  }
  
  .contacts svg {
    height: 30px;
    width: 30px;
    fill: #FFF;
    margin: 0 0.5rem;
    transition: ease-in 0.1s;
  }
  
  .contacts svg:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.515);
    background: linear-gradient(to right, #f4aae0,#e4e4e4, #499db6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: #f4aae0; 
    stroke-width: 0.4rem; 
    filter: drop-shadow(2px 2px 4px rgba(212, 131, 218, 0.718));
  }
  
