:root {
    --highlight: rgb(119, 220, 248);
    --primary-color: #ffffff;
    --primary-transparent: #ffffff00;
    --secondary-color: #F5F5F7;
    --secondary-transparent: #F5F5F700;
    --font-primary: #000;
}

* {
    color:  var(--font-primary);
}

body {
    background-color: var(--primary-color);
}

 h1 {
    color: var(--font-primary);
    margin: 0;
    padding: 0;
    cursor: default;
    font-family: "Oswald"; 
}

h1 .unbold {
    font-weight: 100;
  } 

li {
    text-align: justify;
    cursor: default
}


h5 {
    font-weight: bold;
    font-family: "Oswald";
    cursor: default
}

p {
    font-family: "Lato"; 
    cursor: default  
}

.sub-text {
    font-style: italic;
}

.sub-text p {
    color: #a1a0a0;
}

#product-landing {
    /* background-image: url(/assets/intro-modifiedvgg19.gif); */
    width: 100%;
    display: flex;
    /* margin-bottom: 4rem; */
    padding: 0;
    justify-content: center;
    /* height: 100vh; */
}

#product-landing  img {
    width:70%;
    /* border-radius: 24px; */
    /* border: #d1d1d1 2px solid; */
}

#product-intro {
    display: flex;
    /* text-align: start; */
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#product-intro .intro-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

#product-intro .intro-title p {
    font-size: 14px;
}


.modifiedvgg19,
.possystem {   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 500px;
}

.modifiedvgg19 {
    background-image: url(/assets/work-modifedvgg.png);
}

.possystem {
    background-image: url(/assets/work-pos.png);
}

#nda {
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
}

#executive-summary {
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 50px 50px 0 0;
    padding-top: 4rem;
}

#executive-summary  .exec-content {
    text-align: start;
    padding: 2rem 4rem;
}

#executive-summary .border {
    width: 7rem;
    border-bottom: 1px solid #fff;
}

#executive-summary .images {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
}

#executive-summary .images img {
    width: 33%;
    border-radius: 16px;
    border: #a1a0a0 2px solid;
}

#executive-summary .table {
    margin: 1rem;
}


/* For Photo Cols */
#executive-summary  .exec-content .left-content{
    display: flex;
    padding: 2rem 3rem;
    justify-content: center;
}

#executive-summary  .exec-content .right-content .main-text {
    display: flex;
    height: 100%;
    align-items: center;
}
#executive-summary  .exec-content .left-content img {
    width: 90%;
    border-radius: 16px;
    border: #a1a0a0 2px solid;
}

#positioning {
    text-align: center;
    background-color: var(--font-primary);
    padding: 4rem 0
}


#positioning h1{
    color: var(--primary-color);
}

#positioning .card-main {
    display: flex;
    justify-content: center;
}

#positioning  .card {
    margin: 1rem;
    padding: 0 0.5rem;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #fff;
    width: fit-content;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.515);
    background: linear-gradient(to right, #f4aae0,#e4e4e4, #499db6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: #f4aae0; 
    stroke-width: 0.4rem; 
    filter: drop-shadow(2px 2px 4px rgba(212, 131, 218, 0.718));
}

.ui-showcase {
    background-image: url(/assets/pos-ui.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 1rem 4rem 1rem;
    filter: drop-shadow(0px 0px 10px rgba(82, 113, 157, 0.718));
    background-color: transparent;
    height: 500px;
}

#positioning  .card svg {
    width: 32px;
    height: 32px;
    margin: 0.5rem;
    fill: #fff;
}

#positioning  .card h5 {
    font-weight: normal;
    margin-right: 1rem;
    color: #fff;
}


@media (max-width:992px)  {
    h1 {
        font-size: 60px;
    }

    #product-intro .intro-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #product-landing img {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #executive-summary {
        padding: 0;
        margin: 0;
        padding-top: 2rem;
    }

    #executive-summary .exec-content {
        padding-bottom: 1rem;
        padding-top: 2rem;
    }


    #executive-summary .exec-left {
        padding-bottom: 2rem;
    }

    #executive-summary .exec-content .exec-left br{
        display: none;
    }

    .ui-showcase {
        height: 350px;
        margin: 0 1rem;
    }
  
  }
  
  @media (max-width:768px)  {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }

    #product-intro .intro-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #executive-summary {
        padding: 0;
        margin: 0;
    }

    #executive-summary .exec-content{
        padding-bottom: 0;
        margin: 0;
    }

    #executive-summary .images {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;
    }
  
    ul {
        list-style-type: none;
        padding: 0;
    }

    .modifiedvgg19,
    .possystem {   
        height: 400px;
    }

    #executive-summary {
        padding: 0;
        margin: 0;
    }

    .ui-showcase {
        height: 250px;
        background-position: center;
    }

    #positioning .card-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }

    #positioning .card {
        width: 300px;
        justify-content: center;
        padding: 0.5rem 0;
        margin: 0.5rem 0;
    }

    #positioning  .card svg {
        margin: 0.5rem 1rem;
    }
    
    #positioning  .card h5 {
        font-size: 18px;
        text-align: start;
    }
  
  }

  
  @media (max-width:570px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
    h1 {
        font-size: 40px;
    }
    
    p {
        font-size: 12px;
    }

    .modifiedvgg19,
    .possystem {   
        height: 250px;
    }

    #executive-summary {
        padding: 0;
        margin: 0;
    }

    #executive-summary .exec-left {
        padding-top: 2rem;
    }

    #executive-summary .exec-content {
        padding: 0.5rem 1rem;
        overflow-x: hidden;
    }

    .table {
        padding: 0;
        margin: 0;
        width: 90%;
    }

    .table th,
    .table tr{
        font-size: 12px;
    }

    .ui-showcase {
        margin-bottom: 1rem;
    }

    #positioning .card-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }

    #positioning .card {
        width: 250px;
    }

    #positioning  .card h5 {
        font-size: 18px;
        text-align: start;
    }
  }
  
  

