@media (max-width:1300px) {
  #hero .img-primary {
    width: 380px;
  }
  
  #hero .img-eyes {
    width: 380px;
  }
  
  #hero .img-secondary-container .img-secondary {
    width: 180px;
  }
}

@media (max-width:1200px) { /* big landscape tablets, laptops, and desktops */ 
    #hero .left-container,
    #hero .right-container {
      justify-content: center;
      align-items: center;
    }

    #hero .left-container .hero-contacts {
      margin: 1rem 0;
    }

    #hero .right-container img {
      margin: 1rem 0.25rem;
    }
    
    #hero .img-primary {
      width: 300px;
    }
    
    #hero .img-eyes {
      width: 300px;
    }
    
    #hero .img-secondary-container .img-secondary {
      width: 145px;
    }

    #hero p {
      font-size: 12px;
    }

    #hero .name,
    #hero .name .highlight {
      font-family: "Oswald";
      font-size: 40px;
      letter-spacing: -2px;
      color: var(--font-primary);
      text-align: center;
      font-weight: 400;
    }

    #hero .name .highlight {
      font-size:62px;
      font-weight: 600;
    } 

    p {
      font-size: 14px;
    }

    .navbar-nav {
      justify-content: space-around;
    }

    .nav-link {
      font-size: 14px;
      margin: 0.5rem;
      padding: 0.5rem;
    }  

    /* TITLE FOR ALL SECTION */
    .section-title h1,
    .section-title h1 .unbold {
      font-size: 110px;
      padding-bottom: 1.5rem;
    }
  
    .main-card {
      padding: 4rem 0;
    }
  
  
    #about-me {
      overflow-x: hidden;
      padding: 3rem 0;
    }
  
    #about-me a {
      font-size: 14px;
    }
  
    #about-me .about-content-picture {
      align-items: start;
    }
    
    #about-me .myPicture {
      margin-right:2rem;
      height: 350px;
      width: 120rem;
    }
  
    #works {
      display: flex;
      flex-direction: column;
      background-color: var(--primary-color);
      border-radius: 0 0 24px 24px;
      padding-bottom: 0;
      width: 100%;
      height: 100%;
    }
    
    #works .section-title {
      display: flex;
      position: relative;
      padding-bottom: 0;
      margin: 0;
      padding: 0;
    }
    
    #works .portfolio-item {
      background-color: transparent;
      width: 100%;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    #works .container .row .col-6 {
      padding-top: 0;
      justify-content: center;
      /* width: 100%; */
    }
  
    #works .portfolio-item .item-link{
     text-decoration: none;
     margin: 0;
     padding: 0;
    }
    
    #works .portfolio-item .item-content {
      position: relative; /* Position content absolutely within the item */
      text-decoration: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: none; /* Distribute content vertically */
    }
    
    #works .portfolio-item .item-content .item-image {
      width: 400px;
      height: 400px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
      box-shadow: none;
      border: 2px solid #c7c7c7;
    }
    
    .works-description {
      justify-content: space-evenly;
      text-align: center;
      margin: 0;
      padding: 0.5rem 0 0 0;
      text-decoration: none;
    }
  
    .portfolio-item:hover .works-description {
      justify-content: center;
    }
  
    .portfolio-item:hover .works-description .item-category {
      display: none;
      opacity: 0;
      transition: none;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }  
  
    #tech-used {
      margin-top: 0;
      padding: 2rem 8rem 4rem 8rem;
    }
    
    #tech-used .main-skill-card h5{
      text-align: start;
    }
    
    #tech-used .sub-text {
      font-size: 14px;
    }
  
    #tech-used .company-details .sub-text {
      font-size: 12px;
      text-align: end;
    }
  
    #tech-used .card .card-title {
      font-size: 14px;
    }
  
    #tech-used .card .job-title {
      font-size: 14px;
    }
  }
  
  
  @media (max-width:992px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    #hero {
      height: auto;
      padding: 3rem 0;
    }

    #hero .right-container {
      display: none;
    }
    
    #about-me .section-title,
    #tech-used .section-title,
    #works .section-title {
      justify-content: center;
      text-align: center;
      margin: 0;
      padding-bottom: 1rem;
    }
    
    /* TITLE FOR ALL SECTION */
    .section-title h1,
    #skills .section-title h1,
    .section-title h1 .unbold {
      font-size: 100px;
      padding: 0;
      margin: 0;
    }

    #skills .logos .logos-slide svg {
      height: 70px;
      width: 70px;
      margin: 12px 18px;
    }
    
    p {
      font-size: 14px;
    }
  
    .main-card {
      padding: 4rem 0;
    }

  
    #about-me {
      padding: 3rem 0;
    }
  
    #about-me a {
      font-size: 12px;
    }
  
    #about-me .about-content-picture {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    #about-me .myPicture {
      margin-right:2rem;
      height: 300px;
      width: 300px;
      margin: 1rem 0 2rem 0;
    }

    #works .container .row .col-6 {
      padding-top: 0;
      justify-content: center;
      width: 100%;
    }
  
    #tech-used {
      margin-top: 0;
      padding: 2rem 0 3rem 0;
    }
    
    #tech-used .main-skill-card h5{
      text-align: start;
    }
    
    #tech-used .sub-text {
      font-size: 12px;
    }
  
    #tech-used .company-details .sub-text {
      font-size: 12px;
      text-align: end;
    }

    
    #blogs {
        padding: 4rem 0;
      }

    #blogs .section-title .h1-manipulated {
        margin-top: -57px;
        margin-bottom: 1rem;
    }

    #blogs .other-blog {
        padding: 0;
        margin: 0;
        margin-top: 2rem;
    }
  
  }

  @media (max-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

    p {
      font-size: 14px;
    }

  
    #about-me a {
      font-size: 14px;
    }
    
    #tech-used .main-skill-card h5{
      font-weight: normal;
    }

    #tech-used .sub-text {
      font-size: 12px;
    }
  
    #tech-used .company-details .sub-text {
      font-size: 12px;
      #tech-used .main-skill-card h5{
      text-align: start;
    }
    
    #tech-used .sub-text {
      font-size: 12px;
    }
  
    #tech-used .company-details .sub-text {
      font-size: 12px;
      text-align: end;
    }
  
    #tech-used .card .card-title {
      font-size: 12px;
    }
  
    #tech-used .card .job-title {
      font-size: 12px;
    }
    }
  }

  @media (max-width:640px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    #hero {
      padding: 3rem 0;
      background-size: cover;
    }

    #hero .img-primary {
      width: 250px;
    }

    #hero .name,
    #hero .name .highlight {
      font-size: 39px;
      letter-spacing: -2px;
      font-weight: 300;
    }

    #hero .name .highlight {
      font-size:60px;
      font-weight: 500;
    } 

    .section-title h1,
    .section-title h1 .unbold  {
        letter-spacing: 1;
    }

    .section-title h1 {
      font-weight: 400;
    }
  
    p {
      font-size: 14px;
    }

    .name .i-do {
        margin-top: 100px;
        justify-content: space-between;
    }
  
    .name .i-do h1{
      font-size: 20px;
    }
  
    .name .i-do svg{
      height: 28px;
      width: 28px;
      margin-right: 0.5rem;
      
    }
  
    .first-name h1,
    .f-name-hover h1 {
      padding-top: 50px;
      font-size: 90px;
      letter-spacing: -0.5rem;
   
    }
    
    .last-name h1,
    .l-name-hover h1 {
      font-size: 160px;
    }

    #works .portfolio-item {
      padding-bottom: 0.5rem;
    }

    #works .portfolio-item .item-content .item-image {
      width: 300px;
      height: 300px;
    }

    .works-description {
      justify-content: center;
    }

    .works-description .item-category {
      display: none;
    }
   
    #blogs .section-title .h1-manipulated {
        margin-top: -50px;
    }

    #blogs {
        padding: 4rem 1.5rem;
    }
  
  }

  @media (max-width:570px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
      overflow-x: hidden;
    }

    #hero {
      padding: 0;
      margin: 0;
  }

    #hero .grand-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #hero .center-container {
      margin-top: 2rem;
    }

    /* Will enable once theres something useful */
    #hero .right-container {
      display: none;
    }

    #about-me,
    #tech-used,
    #works {
      padding: 1rem  0;
      margin: 0;
    }

    #about-me .section-title,
    #tech-used .section-title,
    #works .section-title {
      justify-content: center;
      text-align: center;
      margin: 0;
      padding-bottom: 1rem;
    }
    
    /* TITLE FOR ALL SECTION */
    .section-title h1,
    #skills .section-title h1,
    .section-title h1 .unbold {
      font-size: 72px;
      letter-spacing: -0.3rem;
      padding: 0;
      margin: 0;
    }

    #skills {
      flex-direction: column;
      justify-content: center;
    }


    #skills .logos-container{
      width: 100%;
    }

    #skills .logos .logos-slide svg {
      height: 50px;
      width: 50px;
      margin: 8px 12px;
    }

    .logos::after { 
      right: 0;
      background: linear-gradient(to right, var(--secondary-transparent), var(--secondary-color));
  }

    p {
      font-size: 14px;
    }


    #works .section-title {
        padding-bottom: 1rem;
    }

    #works .portfolio-item {
      padding-bottom: 0;
    }

    #tech-used {
        padding: 2rem 0;
    }

    #tech-used .trigger-experience .card,
    #tech-used .trigger-awards .card {
      flex-direction: column;
    }

    #tech-used .trigger-experience .card-header,
    #tech-used .trigger-awards .card .card-header {
      /* background-image: url(/assets/logos/ramon.png); */
      padding: 5px 0 5px 5px;
      width: 30%;
    } 

    #tech-used .trigger-experience .card-header img,
    #tech-used .trigger-awards .card .card-header img {
      width: 70%;
      border-radius: 16px;
    }

    #tech-used .nav-link{
        font-size: 12px;
        margin: 0;
    }

    #tech-used .main-skill-card {
        margin: 1rem 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    }

    #tech-used .main-skill-card .card-title {
        display: none;
    }

    #tech-used .card-body,
    #tech-used .company-details {
      padding: 0;
      margin: 0;
    }
  
    #tech-used .main-skill-card h5{
      text-align: start;
    }
    
    #tech-used .sub-text {
      font-size: 12px;
    }
  
    #tech-used .company-details .sub-text {
      font-size: 12px;
      text-align: end;
    }
  
    #tech-used .card .card-title {
      font-size: 12px;
    }
  
    #tech-used .card .job-title {
      font-size: 12px;
    }
  }
  
  